[run]
branch = True
source = popeye
include = */popeye/*
omit =
    */setup.py
    popeye/plotting.py
    popeye/reconstruction.py
    popeye/simulation.py
    popeye/spectrotemporal.py
    popeye/spatiotemporal*py
    popeye/xvalidation.py
    popeye/strf.py
    
[report]
omit =
    */setup.py
    */popeye/plotting.py
    */popeye/reconstruction.py
    */popeye/simulation.py
    */popeye/spectrotemporal.py
    */popeye/spatiotemporal*py
    */popeye/xvalidation.py
    */popeye/strf.py
    */popeye/gabor.py
