[run]
branch = True
source = popeye
include = */popeye/*
omit =
    */setup.py
    popeye/plotting.py
    popeye/reconstruction.py
    popeye/simulation.py
    popeye/spectrotemporal.py
    popeye/spatiotemporal_css.py
    popeye/spatiotemporal_hrf.py
    popeye/xvalidation.py
    popeye/strf.py
    popeye/css_regularized.py
    popeye/og_hrf_regularized.py	
    
[report]
show_missing = True
omit =
    */setup.py
    */popeye/plotting.py
    */popeye/reconstruction.py
    */popeye/simulation.py
    */popeye/spectrotemporal.py
    */popeye/spatiotemporal_css.py
    */popeye/spatiotemporal_hrf.py
    */popeye/xvalidation.py
    */popeye/strf.py
    */popeye/gabor.py
    */popeye/css_regularized.py
    */popeye/og_hrf_regularized.py
