language: python
env:
    global:
        - DEPENDS="cython numpy scipy matplotlib nibabel"
python:
    - 2.6
    - 3.2
    - 3.3
    - 3.4
matrix:
  include:
    - python: 2.7
      env:
        - COVERAGE=1
    # To test minimum dependencies
    - python: 2.7
      env:
        - DEPENDS="cython==0.18 numpy==1.6.0 scipy==0.14.0 nibabel==1.2.0"
before_install:
    - virtualenv venv
    - source venv/bin/activate
    - pip install nose # always
    - sudo apt-get install libblas-dev liblapack-dev libatlas3gf-base
    - pip install --no-index -f http://travis-wheels.scikit-image.org $DEPENDS
    - if [ "${COVERAGE}" == "1" ]; then
      pip install coverage;
      pip install coveralls;
      fi
install:
    - python setup.py install
# command to run tests, e.g. python setup.py test
script:
    # Change into an innocuous directory and find tests from installation
    - mkdir for_testing
    - cd for_testing
    - if [ "${COVERAGE}" == "1" ]; then
      cp ../.coveragerc .;
      COVER_ARGS="--with-coverage --cover-package popeye";
      fi
    - nosetests --with-doctest --verbose $COVER_ARGS popeye
after_success:
    - if [ "${COVERAGE}" == "1" ]; then coveralls; fi
